.menu button {
  width: 100%;
  color: #000000;
}

button:hover {
  filter: brightness(0.5);
}

body {
  display: flex;
}
aside {
  height: 100vh;
  width: 15%;
  background: #e0f0ff;
  text-align: center;
  border-right: 3px #c4e2ff solid;
}

.menuTitle h1 {
  margin-top: 2rem;
}
main {
  width: 70%;
  text-align: center;
}

.counterSection {
  height: 10rem;
  background: #c4e2ff;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter h2 {
  font-size: 2rem;
  margin-left: 1rem;
}

li {
  padding-block: 1rem;
  background: #2292fa;
  color: #ffffff;
  margin-block: 1rem;
  margin-right: 2rem;
  box-shadow: 2px 2px 2px #777777;
}
.double,
.auto,
.granpa,
.clear {
  position: relative;
}

.double:before {
  content: "";
  background-image: url("img/double.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 30%;
  left: 5%;
  height: 32px;
  width: 32px;
  z-index: 1;
}
.double:after {
  position: absolute;
  content: "500円";
  bottom: 25%;
  right: 15%;
  font-size: 6px;
  z-index: 1;
}
#auto:before {
  content: "";
  background-image: url("img/auto.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 30%;
  left: 5%;
  height: 32px;
  width: 32px;
  z-index: 1;
}
.auto:after {
  position: absolute;
  content: "500円";
  bottom: 25%;
  right: 15%;
  font-size: 6px;
  z-index: 1;
}
.granpa:before {
  content: "";
  background-image: url("img/granpa.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 30%;
  left: 5%;
  height: 32px;
  width: 32px;
  z-index: 1;
}

.clear:before {
  content: "";
  background-image: url("img/temple.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 30%;
  left: 5%;
  height: 32px;
  width: 32px;
  z-index: 1;
}

h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 2px #33333333;
}

.achiveTitle {
  margin-block: 2rem;
}

.nowStatus h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.nowStatus h3 {
  font-size: 1.75rem;
  color: brown;
}

p {
  padding-block: 1rem;
}

.card {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.cardinfo {
  background: #777777;
  height: 75px;
  width: 75px;
}

.cardinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.completeButton {
  background-color: #777777;
  box-shadow: 2px 2px 2px #33333333;
}

.clickSection #button {
  position: relative;
  z-index: 1;
}

.clickSection #animateImage {
  width: 10%;
  height: 20%;
  position: absolute;
  top: 30%;
  left: 45%;
  z-index: -1;
}
